<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Striking.Mail.SurveillanceImages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FindInPath" value="D:\videos\" />
    <add key="TakeThumbAddMiliseconds" value="7000" />
    <add key="EmailAddress" value="wietzestrik+surveillance@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="Wietze &lt;wietzestrik@gmail.com&gt;">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="wietzestrik@gmail.com" password="goOG!(83"/>
      </smtp>
    </mailSettings>
  </system.net>
  <userSettings>
    <Striking.Mail.SurveillanceImages.Properties.Settings>
      <setting name="LastRun" serializeAs="String">
        <value>2019-06-16</value>
      </setting>
    </Striking.Mail.SurveillanceImages.Properties.Settings>
  </userSettings>
</configuration>